@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #454545;
}

header {
  text-align: center;
  background-color: #d74100;
  padding: 2em 10em;
  font-size: 18px;
  color: #ffe6c7;
}
header h1 {
  font-size: 48px;
}
header h2 {
  color: #454545;
}
header h2 span {
  color: #ffe6c7;
}

main {
  max-width: 1250px;
  margin-inline: auto;
  color: #ffe6c7;
  text-align: center;
}
main h2 {
  color: #FFA559;
  font-size: 35px;
  letter-spacing: 1px;
  margin: 25px 0;
}

.cars {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.car {
  width: 400px;
  background-color: #d74100;
  background-clip: border-box;
  box-shadow: 0px 0px 10px 1px rgb(44, 44, 44);
  cursor: pointer;
  border: 5px dashed #FFA559;
  padding: 20px;
  text-align: left;
  transition: scale 200ms;
}
.car .carImg {
  width: 100%;
}
.car .carDetails {
  list-style-type: none;
}
.car .carDetails li {
  display: flex;
  justify-content: space-between;
}
.car i {
  color: #FFA559;
}
.car:hover {
  scale: 1.05;
}

form {
  display: none;
  width: 80vw;
  height: 90vh;
  top: 50%;
  left: 50%;
  position: fixed;
  box-shadow: 0px 0px 100vw 100vh rgba(46, 45, 45, 0.633);
  background-color: #454545;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.form {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr 100px;
}
.form ul {
  list-style-type: none;
}

#errorTxt {
  color: rgb(255, 15, 15);
  display: none;
}

.summary {
  position: relative;
  height: 100%;
}
.summary .priceComponent {
  display: flex;
  justify-content: space-between;
  margin: 20px 10vw;
  font-size: 20px;
  text-align: left;
}
.summary .priceComponent:first-child {
  margin-top: 0px;
}
.summary .priceComponent:last-child {
  margin-bottom: 0px;
}
.summary .priceNumber {
  color: #d74100;
  text-align: right;
}
.summary h3 {
  font-size: 30px;
}
.summary .price span {
  color: #d74100;
}
.summary .finishBtn {
  border: 5px solid #d74100;
  border-radius: 5px;
  padding: 15px;
  font-size: 25px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #454545;
  font-weight: bold;
  color: #d74100;
  cursor: pointer;
  transition: background-color 200ms, box-shadow 200ms;
}
.summary .finishBtn:hover {
  background-color: #FFA559;
  box-shadow: 0px 0px 10px 2px #d74100;
}

.formHeading {
  background-color: #FFA559;
  border-bottom: 5px solid #d74100;
}
.formHeading h2 {
  margin: 0;
  padding: 20px 0px;
  color: #ffe6c7;
  font-size: 36px;
}

.advancedInfoItems {
  padding: 0 100px;
}

.advancedInfoItem {
  display: flex;
  justify-content: space-between;
}

.active {
  display: block !important;
}

.hide {
  display: none;
}

.formItems {
  margin-inline: 5px;
}
.formItems p {
  font-size: 22px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.formItems .formItem {
  margin: 25px 0;
}

.slider {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 10px;
  background: #ffe6c7;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  border-radius: 10px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 25px;
  height: 25px;
  background: #d74100;
  border-radius: 100%;
  cursor: pointer;
}

input[type=number] {
  background-color: #454545;
  border: 2px solid #FFA559;
  width: 80px;
  font-size: 22px;
  color: #ffe6c7;
  text-align: center;
  outline: none;
  padding: 2px 5px;
}

input[type=date] {
  background-color: #454545;
  border: 2px solid #FFA559;
  color: #ffe6c7;
  padding: 5px;
}

.formBtn {
  background-color: #454545;
  border: none;
  border-top: 5px solid #d74100;
  background-color: #FFA559;
  font-size: 30px;
  font-weight: bold;
  color: #ffe6c7;
  cursor: pointer;
  transition: color 200ms, background-color 200ms;
}

#cancelBtn {
  background-color: #454545;
  color: #FFA559;
  border-top: 5px solid #FFA559;
}

#submitBtn:hover {
  color: #454545;
  background-color: #d74100;
}

#cancelBtn:hover {
  background-color: #FFA559;
  color: #454545;
}

@media screen and (max-width: 1024px) {
  .form {
    grid-template-rows: 90px 1fr 90px;
  }
  form {
    height: 60vh;
    width: 90vw;
  }
  .formHeading h2,
  .advancedInfoHeading h2 {
    font-size: 30px;
  }
  .advancedInfoItems {
    padding: 0 20px;
  }
  .formItems p {
    font-size: 20px;
  }
  .car {
    width: calc(50% - 10px);
  }
}
@media screen and (max-width: 768px) {
  header {
    padding: 30px;
  }
  header h2 {
    font-size: 30px;
  }
  form {
    height: 90vh;
    width: 100vw;
  }
  .form {
    grid-template-rows: 120px 1fr 100px;
  }
  .formItem {
    margin: 0px 0;
  }
  .dateLabel {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    margin-inline: 20px;
  }
}
@media screen and (max-width: 500px) {
  header {
    padding: 20px;
  }
  header p {
    font-size: 20px;
  }
  header h1 {
    font-size: 36px;
  }
  header h2 {
    font-size: 22px;
  }
  .car {
    width: 100%;
  }
  form {
    height: 100vh;
    width: 100vw;
    width: 100vw;
  }
  .form {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 100px 1fr 90px 90px;
    overflow: auto;
  }
  .summary .finishBtn {
    border-radius: 0px;
    width: 100%;
  }
  .summary .finishBtn:hover {
    box-shadow: none;
  }
  .summary h2 {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .formItems {
    grid-row: 2/3;
  }
  .advancedInfoItems {
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=main.css.map */